* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    height: 100vh;
    border: 5px solid pink;
    position: relative;
 }
/* error and success messages
 */

 .hidden {
     display: none;
 }
 
.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 80%;
    margin: 0 auto;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    width: 80%;
    margin: 0 auto;
}

.info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    width: 80%;
    margin: 0 auto;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    width: 80%;
    margin: 0 auto;
}

.user-message {
    height: 42px;
    margin: 16px 0;
    padding: 12px 20px;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* navigation bar */
.nav-bar {
    width: 100%;
    height: 55px;
    background-color: #444;
    color: white;
    vertical-align: baseline;
}
.app-links {
    display: inline-block;
} 

.logo {
    display: inline-block;
    font-size: 35px;
    padding: 5px;
    padding-right: 10px;
    margin-left: 5px;
    border-right: solid 2px gray;
    color: white;
}

.home-icon{
    font-size: 20px;
    padding: 3px;
    margin-left: 5px;
}

.home-dashboard-btn {
    display: inline-block;
    left: 0;
    margin-right: 10px;  
}

.login-signup-btn {
    display: inline-block;
    margin-left: 10px;
    vertical-align: baseline;
}

@media screen and (max-width: 400px){
    .logo {
        font-size: 37px;
        padding: 5px;
         margin-left: 2px;
    }
    .home-icon {
        font-size: 27px;
        margin-left: 2px;
    }
}

@media screen and (max-width: 330px){
    .logo {
        font-size: 25px;
        padding: 2px;
        margin: 0 auto;
    }
    .home-icon {
        font-size: 17px;
        margin-left: 2px;
    }
}

/* end of nav bar */
.app-container{
        display: block;
        width: 100%;
        max-width: 1666px;
        height: calc(100% - 115px);
        padding: 10px;
        margin: 0 auto;
        border: 3px solid green;
        overflow: auto;
}

/* home page items */
.item-container {
    min-width: 300px;
    height: 310px;
    width: 300px;
    max-width: 400px;
    border: 1px solid black;
    margin: 10px 0;
    overflow: hidden;
}

.item-image-home {
    height: 200px;
    margin: 0 auto;
    width: 200px;
    max-width: 350px;
    display: block;
}

.item-info-home{
    padding: 9px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}
.item-title {
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
}

.item-price-home{
    height: 10%;
    width: auto;
    letter-spacing: 0.1em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin-top: 5px;
    padding-bottom: 0px;
    padding: 2px; 
}

 .item-desc {
     padding: 3px;
     font-size: 20px;
     overflow: hidden;
 }

/* //detailed items */

.detailed-item-container{
    margin: 0 auto;
    margin-top: 2%;
}
.detail-item-name {
    text-align: center;
    font-size: 31px;
    overflow-wrap: break-word;
}
.detail-item-price{
    font-size: 30px;
    text-align: center;
}
.item-detail-description {
    padding: 5px;
    font-size: 20px;
}
.item-detail-img {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.detail-item-seller-title {
    margin: 20px auto;
    text-align: center;
}

.detail-item-seller-username {
    font-size: 20px;
    margin-left: 10px;
}

.detail-item-seller-email {
    font-size: 20px;
    margin-left: 10px;
}

 label {
     display: block;
     padding: 10px;
 }

 input {
     margin-bottom: 30px;
     width: 80%;
 }

 .sign-up-form {
     width: 90%;
     height: auto;
     padding: 20px 10px 20px 10px;
     margin: 0 auto;
     margin-top: 5%;
     border: 3px solid rgba(25, 25, 25, 1);
 }
 .terms-and-cond {
     font-size: 15px;
     text-align: center;
 }
 
.login-option-box {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

 .already-acc-text {
     text-align: center;
 }


 .login-form {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 10px 20px 10px;
    border: 3px solid rgba(25, 25, 25, 1);
    height: 400px;
    width: 80%;
    /* border-radius:  3%; */
 }

 .label {
     font-weight: 200;
     font-size: 20px;
 }

.input-field {
    font-size: 17px;
    padding: 5px 10px;
    display: block;
}

 .sign-up-title-text{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 25px;
}

.sign-up-title-text{
    text-align: center;
    font-size: 32PX;
    margin-bottom: 25px;
}


/* dashboard */
 .user-image {
     display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
}

.account-info{
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 2px;
}

.account-info-title {
    text-align: center;
}

 .btn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 20px;
	padding: 6px 24px;
	text-decoration:none;
    text-shadow: 0px 1px 0px #154682;
}

.login-btn {
    margin: 0 auto;
    display: block;
}

.option-btn {
 margin-top: 10px;
 font-size: 16px;
}

.new-acc-btn {
    display: block; 
    margin: 0 auto;
    margin-top: 7px;
    text-align: center;
 }


.delete-btn {
    display: inline-block;
    font-size: 15px;
    padding: 3px 12px;
    border:1px solid #771212;
    text-shadow: 0px 1px 0px #821515;
    background-color:#c10000;
    box-shadow:inset 0px 1px 0px 0px #f75454;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #c10000 5%, #a70000 100%);
	background:-webkit-linear-gradient(top, #c10000 5%, #a70000 100%);
	background:-o-linear-gradient(top, #c10000 5%, #a70000 100%);
	background:-ms-linear-gradient(top, #c10000 5%, #a70000 100%);
	background:linear-gradient(to bottom, #c10000 5%, #a70000 100%); 
}

.green-btn {
    font-size: 15px;
    padding: 3px 12px;
    border:1px solid #127717;
    text-shadow: 0px 1px 0px #158215;
    background-color:#00c110;
    box-shadow:inset 0px 1px 0px 0px #54f754;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #27c100 5%, #00a708 100%);
	background:-webkit-linear-gradient(top, #27c100 5%, #00a708 100%);
	background:-o-linear-gradient(top, #27c100 5%, #00a708 100%);
	background:-ms-linear-gradient(top, #27c100 5%, #00a708 100%);
	background:linear-gradient(to bottom, #27c100 5%, #00a708 100%); 
}

.edit-btn {
    float: right;
    display: inline-block;
}

.item-btns-preview {
padding-bottom: 5px; 
border-bottom: solid 1px rgba(211, 211, 211, 0.8);
 margin-bottom: 60px; 
}

.post-item-for-sale-dashboard {
    margin: 0 auto;
    margin-top: 100px;
    display: block;
}

.post-form-btns {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
}

/* items from dashboard preview */

.item-preview{
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 150px;
    width: 100%;
    max-width: 700px;
    padding-top: 5px;
    border-top: 1px solid rgba(211, 211, 211, 1);
}

.image-container-preview {
    display: inline-block;
    /* border: 2px solid pink; */
    height: 150px;
    width: 40%;
}

.item-info-preview {
    display: inline-block;
    /* border: 2px solid red; */
    width: 55%;
    height: 100%;
    margin: 0;
    float: right;
    overflow: hidden;
}

.item-name-preview {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.item-shortDescription-preview {
    font-size: 16px;
}

.price-preview {
    font-size: 20px;
    padding: 10px;
}

 .item-image-preview {
     height: 150px;
     width: auto;
     max-width: 100%;
     max-height: 100%;
 }

 .footer {
     position: absolute;
     bottom: 0;
     background-color: #444;
     color: white;
     height: 60px;
     width: 100%;
 }

 .footer-text {
     vertical-align: text-top;
     text-align: center;
     font-size: 20px;
     font-weight: 300;
     margin-top: 20px;
 }

 .js-items-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center; 
     max-width: 1000px;
     margin: 0 auto;
 }

 .item-image-edit-post {
     display: block;
     width: 100%;
 }

 .item-edit-image {
     width: 100%;
     height: auto;
 }

 .edit-tip {
     margin-top: 10px;
     text-align: center;
     font-size: 17px;
     border-bottom: 1px solid rgba(211, 211, 211, 0.8);
 }
 .send-right {
     float: right;
 }

 .last-field {
     margin-bottom: 30px;
 }

 .post-tip {
     word-wrap: break-word;
     font-size: 18px;
     margin: 10px 0;
     /* border: 1px solid black; */
     -webkit-box-shadow: 3px 11px 8px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 3px 11px 8px -5px rgba(0,0,0,0.37);
    box-shadow: 3px 11px 8px -5px rgba(0,0,0,0.37);
    padding: 15px;
    /* border-radius: 10%; */
    background-color: #d4d4d4; 

 }
 .text-area {
     width: 80%;
     margin-bottom: 15px;
 }